@import url(https://fonts.googleapis.com/css?family=Syncopate:700);

html, body { 
    height: 100%; 
    width: 100%; 
    margin: 0; 
}

div, .hotbar { 
    height: 100%; 
    width: 100%; 
    background: white; 
}

.title {
    text-align: center;
    font-family: "Syncopate"
}

.boxHolder {
    width: 90%;
    height: 85%;
    background-color: gray;
    margin-left: 5%;
    border-radius: 10px;
}

.derp {
    height: auto;
}

.hotbar {
    background-color: rgb(0,220,255);
    height: 100%;
    float: right;
    width: 10%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.shop {
    height: auto;
    font-size: 95%;
    text-align: center;
    background-color: rgb(220,220,255);
    border-radius: 10px;
}

.shop2 {
    height: auto;
    font-size: 95%;
    text-align: center;
    background-color: rgb(220,220,255);
    border-radius: 10px;
    margin-top: 100%;
}

.shop3 {
    height: auto;
    font-size: 95%;
    text-align: center;
    background-color: rgb(220,220,255);
    border-radius: 10px;
    margin-top: 100%;
}

.cubeSkins {
    visibility: visible;
    display: block;
    margin-right: 10px;
    height: 60%;
    width: 30%;
    float: right;
    background-color: rgb(220,220,255);
}

.cubeLimit {
    visibility: invisible;
    display: none;
    margin-right: 10px;
    height: 60%;
    width: 30%;
    float: right;
    background-color: rgb(220,220,255);
}

.cubeLimitSir {
    visibility: invisible;
    display: none;
    margin-right: 10px;
    height: 60%;
    width: 30%;
    float: right;
    background-color: rgb(220,220,255);
}

.cubeSpawn {
    visibility: invisible;
    display: none;
    margin-right: 10px;
    height: 60%;
    width: 30%;
    float: right;
    background-color: rgb(220,220,255);
}

.cubeSpawnSir {
    visibility: invisible;
    display: none;
    margin-right: 10px;
    height: 60%;
    width: 30%;
    float: right;
    background-color: rgb(220,220,255);
}

.img1 {
    height: 50px;
    width: 50px;
    background-color: blue;
    margin-top: 5px;
    margin-left: 5px;
    float: left;
}

.img1Sold {
    height: 50px;
    width: 50px;
    background-color: Red;
    margin-top: 5px;
    margin-left: 5px;
    float: left;
}

h4 {
    float: left;
}

.spawnIn{
    background-color: darkgray;
    width: 70%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.money {
    float: left;
    margin-top: -50px;
}

.IncreaseLimit {
    text-align: center;
    font-size: 30px;
    background-color: paleturquoise;
    width: 90%;
    margin-left: 5%;
    border-radius: 5px;
}

.currentLimit {
    text-align: center;
    font-size: 25px;
    background-color: paleturquoise;
    width: 60%;
    margin-left: 20%;
    border-radius: 5px;
}

.IncreaseLimitSir {
    text-align: center;
    font-size: 30px;
    background-color: paleturquoise;
    width: 90%;
    margin-left: 5%;
    border-radius: 5px;
}

.currentLimitSir {
    text-align: center;
    font-size: 25px;
    background-color: paleturquoise;
    width: 60%;
    margin-left: 20%;
    border-radius: 5px;
}

.IncreaseSpawn {
    text-align: center;
    font-size: 30px;
    background-color: paleturquoise;
    width: 90%;
    margin-left: 5%;
    border-radius: 5px;
}

.IncreaseSpawnSir {
    text-align: center;
    font-size: 30px;
    background-color: paleturquoise;
    width: 90%;
    margin-left: 5%;
    border-radius: 5px;
}

.currentSpawn {
    text-align: center;
    font-size: 25px;
    background-color: paleturquoise;
    width: 60%;
    margin-left: 20%;
    border-radius: 5px;
}

.currentSpawnSir {
    text-align: center;
    font-size: 25px;
    background-color: paleturquoise;
    width: 60%;
    margin-left: 20%;
    border-radius: 5px;
}

.toAllR {
    text-align: center;
    font-size: 25px;
    background-color: paleturquoise;
    width: 11%;
    margin-left: 15%;
    border-radius: 5px;
    position: absolute;
    margin-top: 367px;
}

.toAllL {
    text-align: center;
    font-size: 25px;
    background-color: paleturquoise;
    width: 11%;
    border-radius: 5px;
    position: absolute;
    margin-top: 367px;
}
